@import 'src/assets/style/variables';



.ptr__pull-down {
	top: 30px !important;
}

#loader {
	width: 30px;
	height: 30px;
	border: 5px dotted #FFF;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	z-index: 9;
	box-sizing: border-box;
	animation: rotation 2s linear infinite;
 }
 
 @keyframes rotation {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
 } 
