@import "src/assets/style/variables";

.report-page{
	padding: 50px 0 50px 0;
    height: 90vh;
    overflow: auto;
	&__content{
		width: 100%;
		color: #000000;
		background: #fff;
	}
	&__button{
		background: linear-gradient(180deg, #00A62E 0%, #074D1B 100%);
		border-radius: 8px;
		font-size: 13px;
		text-align: center;
		color: #000000;
		display: block;
		width: 90%;
		padding: 12px 0;
		position: absolute;
		bottom: 0;
		left: 5%;
	}
}