.footer {
  border-top: 1px solid #202020;
  padding: 24px 24px 8px 24px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  span{
	color: #8B8787;
  }
  a {
    color: #fff;
  }
}
