.footer {
  border-top: 1px solid #202020;
  padding: 24px 0px 8px 0px;
  justify-content: center;
  &__body{
	display: flex;
	flex-direction: column;
	gap: 15px;
  }
  span{
	color: #8B8787;
  }
  a {
    color: #fff;
	 line-height: 120%;
  }
}
