.footer {
  border-top: 1px solid #202020;
  padding: 24px 0 8px 0;
  justify-content: center;
  &__body{
	display: flex;
	flex-direction: column;
	gap: 15px;
  }
  span{
	color: #8B8787;
  }
  &__item {
    color: #fff;
	 line-height: 120%;
  }
}
